@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block
}

ul {
    list-style-type: none;
}

header {
    background: #000;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
}

.logo {
    cursor: pointer;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    padding: 15px 30px;
}

.navbar ul li a:hover {
    color: darkorange;
    background: rgba(255, 255, 255, 0.2);
}

.home {
    height: 100vh;
    padding: 250px;
    background: url(./images/background.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

.home .title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.title span {
    color: darkorange;
}

.home .desc {
    font-size: 20px;
}

.btn {
    margin-top: 30px;
    padding: 15px 20px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: rgba(0, 0, 0, .6);
}

.btn:hover {
    color: #fff;
    background-color: darkorange;
    cursor: pointer;
}

.home-info {
    height: 50vh;
    display: flex;
}

.home-info .item {
    width: 50%;
}

.home-info .content {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.content .title {
    margin: 40px 0 30px;
}

.content .desc {
    padding: 0 30px;
}

.content .readmore {
    margin: 40px 0;
    background: #fff;
    color: #000;
    font-weight: 500;
}

.content .readmore:hover {
    background-color: darkorange;
}

.home-features {
    display: flex;
    color: #000;
}

.home-features .item {
    width: calc(100%/3);
    text-align: center;
}

.home-features .item i {
    font-size: 50px;
    padding: 30px 0 10px;
}

.home-features .unique {
    background-color: rgba(255, 140, 0, 0.6);
}

.home-features .desc {
    padding: 40px 30px;
}

footer {
    height: 7vh;
    line-height: 7vh;
    color: #fff;
    background-color: #000;
    text-align: center;
}